<!DOCTYPE html>
<html>
<head>
<title>MEN Example</title>
</head>
<body>

<h1>My Example App</h1>

<form action='/add-entry' method='post'>
<input type='text' name='value'>
<input type='submit' value='Submit'>
</form>

<ul>
<li>I am an example element</li>
<% entries.forEach( function(entry) { %>
    <li><%= entry.value %></li>
    <% }) %>
</ul>

</body>
</html>